<head>
  <title>Faris Deshmukh</title>
</head>
<body>
  <div class="entry">
    <h1>Charlotte Deshmukh</h1>
    <div class="body">
      <p>This is Charlotte. Isn't she amazing!?</p>
      <img src='./charlotte.jpg'></img>
    </div>
  </div>
<link rel="stylesheet" href="./home.css">
</body>