<head>
  <title>Faris Deshmukh</title>
</head>
<body>
  <div class="entry">
    <h1>Faris Deshmukh's website</h1>
    <div class="body">
      <p>Welcome to Faris Deshmukh's website</p>
        <li><a href="./about">About Faris</a></li>
        <li><a href="./charlotte">Faris's amazing wife</a></li>
        <li><a href="./cv">A list of all Faris' incredible achievements</a></li>
        <li>CV</li>
    </div>
  </div>
<link rel="stylesheet" href="./home.css">
</body>